.the-best-service-for-you-content {
  display: flex;
  justify-content: space-between;
}

.the-best-service-for-you-text {
  width: 100%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
}

.the-best-service-for-you-text h2 {
  font-size: 3.2rem;
  line-height: 3.6rem;
  color: var(--faynet-purple-dark);
  font-weight: var(--font-weight-regular);
  position: relative;
  margin-bottom: 4rem;
}

.the-best-service-for-you-text h2::before {
  content: "";
  width: 7.5rem;
  height: 0.6rem;
  border-radius: 2rem;
  background-color: var(--faynet-purple-dark);
  position: absolute;
  top: -20px;
  left: 0;
}

.the-best-service-for-you-accordion {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.the-best-service-for-you-accordion-item {
  border-radius: 4px;
  margin: 10px 0;
}

.the-best-service-for-you-accordion-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  line-height: 2.4rem;
  border-radius: 1.6rem;
  width: 100%;
  padding: 1.5rem;
  text-align: left;
  background-color: var(--faynet-purple-dark);
  color: var(--faynet-white);
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.6s;
}

.the-best-service-for-you-accordion-button span::before {
  content: "+";
  background-color: var(--faynet-purple-light-opacity-20);
  padding: 0.3rem 1rem;
  border-radius: 0.6rem;
}

.the-best-service-for-you-accordion-button.open span::before {
  content: "-";
}

.the-best-service-for-you-accordion-button.open {
  background-color: var(--faynet-black);
  color: var(--faynet-white);
  border-radius: 1.6rem 1.6rem 0 0;
}

.the-best-service-for-you-accordion-content {
  background-color: var(--faynet-white);
  padding: 0 15px;
  display: none;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background: rgb(245, 245, 245);
}

.the-best-service-for-you-accordion-content p {
  font-size: 1.6rem;
  padding: 1rem 0;
}

.the-best-service-for-you-button a:hover {
  background-color: var(--faynet-purple-dark);
  color: var(--faynet-white);
}

.the-best-service-for-you-image {
  background-image: url("../images/images_all/callcenter.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  min-height: 60rem;
}

.the-best-service-for-you-text .call-to-action a {
  padding: 1.4rem;
  width: 24rem;
}
