.banner-hero {
  background-image: url("../images/banner_hero/banner2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-hero .container {
  padding-bottom: 0;
}

.banner-hero-color {
  background-image: linear-gradient(
    to bottom,
    var(--faynet-purple-dark),
    transparent
  );
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.header-top-opening-hours {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #ffffff;
}

.header-top-opening-hours p {
  font-size: 1.6rem;
}

.header-top-opening-hours-contact {
  font-weight: var(--font-weight-bold);
}

.header-top-opening-hours-status {
  position: relative;
  margin-left: 2rem;
  color: var(--faynet-green-status-text);
}

.header-top-opening-hours-status::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -20px;
  width: 1rem;
  height: 1rem;
  background-color: var(--faynet-green-status-icon);
  border-radius: 50%;
}

.header-top-sociais {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-top-sociais a {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.8rem;
  border-radius: 1rem;
}

.header-top-sociais a img {
  width: 3rem;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu-logo {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-menu-logo img {
  width: 26rem;
}

.header-menu-links ul {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-weight: var(--font-weight-bold);
}

.header-menu-subcriber-center {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  background-color: var(--faynet-yellow);
  padding: 1.5rem;
  border-radius: 0.8rem;
  -webkit-box-shadow: 0px 20px 11px -9px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 0px 20px 11px -9px rgba(0, 0, 0, 0.71);
  box-shadow: 0px 20px 11px -9px rgba(0, 0, 0, 0.71);
}

.header-menu-subcriber-center a {
  color: var(--faynet-purple-dark);
  font-weight: var(--font-weight-regular);
}

.header-menu-subcriber-center {
  color: var(--faynet-purple-dark);
}

.header-menu-subcriber-center:hover {
  background-color: var(--faynet-yellow-dark);
}

.banner-hero-header {
  display: flex;
  justify-content: space-between;
}

.banner-hero-text {
  width: 100%;
  max-width: 60%;
  margin-top: 8rem;
  color: var(--faynet-white);
  padding-bottom: 4rem;
}

.banner-hero-text span {
  display: block;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: var(--faynet-yellow);
  font-weight: var(--font-weight-medium);
}

.banner-hero-text h1 {
  font-size: 5.8rem;
  line-height: 6rem;
  font-weight: var(--font-weight-bold);
  margin: 3rem 0;
}

.banner-hero-text p {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: var(--font-weight-regular);
  margin-bottom: 3rem;
}

.banner-hero-text a {
  width: 100%;
  max-width: 50%;
  padding: 1.4rem 0;
}

.banner-hero-promotion {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  min-height: 60rem;
}

.banner-hero-content {
  backdrop-filter: blur(5px);
  background-color: rgba(75, 0, 130, 0.3);
  color: var(--faynet-white);
  padding: 2rem;
  border-radius: 1rem 1rem 0 0;
}

.banner-hero-promotion-title {
  display: flex;
  align-items: center;
  gap: 4rem;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}
.banner-hero-promotion-title h3 {
  font-size: 3.4rem;
  line-height: 4.6rem;
  font-weight: var(--font-weight-bold);
}

.banner-hero-promotion-title p {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: var(--font-weight-medium);
  letter-spacing: 0.025rem;
  background-color: var(--faynet-yellow);
  color: var(--faynet-purple-dark);
  padding: 0.4rem 2rem;
  border-radius: 1.2rem;
}

.banner-hero-promotion-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-hero-promotion-description ul li {
  display: flex;
  gap: 1rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.banner-hero-promotion-description .banner-hero-promotion-price {
  text-align: center;
}

.banner-hero-promotion-description .banner-hero-promotion-price p {
  font-size: 2.8rem;
  font-weight: var(--font-weight-bold);
  color: var(--faynet-yellow);
}

.banner-hero-promotion-description .banner-hero-promotion-price span {
  font-size: 1.4rem;
}

.banner-hero-promotion-button a {
  width: 100%;
  max-width: 50%;
}
