.highlight-card {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--faynet-purple-dark);
  width: 75%;
  max-width: 128rem;
  color: var(--faynet-white);
  margin-top: -160px;
  border-radius: 0.8rem;
  position: relative;
}

.highlight-card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background: url("../images/banner_hero/homem_apontado.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.highlight-card p:first-child {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.highlight-card h2 {
  font-size: var(--font-weight-regular);
  font-size: 4rem;
  line-height: 5rem;
}

.highlight-card-price {
  font-size: 4rem;
  font-weight: var(--font-weight-black);
}

.highlight-card ul {
  margin-top: 1rem;
}

.highlight-card ul li {
  font-size: 1.4rem;
}

.highlight-card ul li::before {
  content: "✔";
  top: 0;
  left: 0;
  margin-right: 0.3rem;
}

.highlight-card a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 25rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 2rem;
  border: none;
  background-color: var(--faynet-yellow);
  color: var(--faynet-purple-dark);
  font-weight: var(--font-weight-regular);
  font-size: 2rem;
}
.highlight-card img {
  width: 1.6rem;
  margin-top: 0.2rem;
}

.highlight-card p:last-child {
  font-size: 1rem;
}

/* .highlight-card-image {
} */

@media (min-width: 0px) and (max-width: 768px) {
  .highlight-card {
    margin-top: -35rem;
    align-items: center;
    max-width: 90%;
  }

  .highlight-card::after {
    background: none;
  }

  .highlight-card h2 {
    font-size: 3.1rem;
  }
}
