.plan-perfect-for-you h2 {
  color: var(--faynet-purple-dark);
  font-size: 3.2rem;
  line-height: 3.6rem;
  font-weight: var(--font-weight-regular);
  margin-bottom: 2rem;
  text-align: center;
  position: relative;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.plan-perfect-for-you h2::before {
  content: "";
  width: 7.5rem;
  height: 0.6rem;
  border-radius: 2rem;
  background-color: var(--faynet-purple-dark);
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.plans-perfect-for-you-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.plans-perfect-for-you-card {
  width: 100%;
  max-width: 30rem;
  border: 1px solid var(--faynet-purple-light);
  border-radius: 1rem;
}

.plans-perfect-for-you-card.special-offer {
  background-color: var(--faynet-purple-dark);
  padding: 4rem 0;
  position: relative;
}

.plans-perfect-for-you-card-best-offer {
  background-color: var(--faynet-yellow);
  color: #6633cc;
  padding: 0.8rem 4rem;
  border: 2px solid var(--faynet-white);
  border-radius: 1.5rem;
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-weight: var(--font-weight-medium);
}

.plans-perfect-for-you-card-plan {
  background-color: var(--faynet-purple-dark);
  text-align: center;
  border-radius: 1rem 1rem 0 0;
  border-bottom: 2px solid var(--faynet-white);
  position: relative;
}

.plans-perfect-for-you-card-plan p:first-child {
  font-size: 6rem;
  color: var(--faynet-white);
  line-height: 9rem;
  font-weight: var(--font-weight-medium);
  padding-bottom: 1rem;
}

.plans-perfect-for-you-card-plan p:last-child {
  display: inline-block;
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  color: var(--faynet-purple-dark);
  line-height: 3rem;
  background-color: var(--faynet-white);
  padding: 0.2rem 3rem;
  border-radius: 5rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  border: 2px solid var(--faynet-purple-dark);
}

.plans-perfect-for-you-card-description {
  padding: 4rem 0;
}

.plans-perfect-for-you-card-description li {
  font-size: 1.4rem;
  color: var(--faynet-purple-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.plans-perfect-for-you-card-description li svg {
  stroke: var(--faynet-purple-dark);
  stroke-width: 2;
}

.plans-perfect-for-you-card.special-offer
  .plans-perfect-for-you-card-description
  li
  svg {
  stroke: var(--faynet-white);
}

.plans-perfect-for-you-card.special-offer
  .plans-perfect-for-you-card-description
  li {
  color: var(--faynet-white);
}

.plans-perfect-for-you-card-price {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  align-items: start;
  font-size: 2.4rem;
  color: var(--faynet-purple-dark);
  margin-bottom: 4rem;
}

.plans-perfect-for-you-card.special-offer .plans-perfect-for-you-card-price {
  color: var(--faynet-white);
}

.currency {
  font-size: 1.2rem;
}

.price {
  font-size: 40px;
  font-weight: var(--font-weight-medium);
  margin-top: -10px;
}

.period {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.plans-perfect-for-you-card-contract {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  position: relative;
}

.plans-perfect-for-you-card-contract a {
  background-color: var(--faynet-purple-dark);
  color: white;
  padding: 1rem 3rem;
  border-radius: 2.5rem;
  text-decoration: none;
  display: inline-block;
  position: relative;
  z-index: 1;
  font-size: 1.6rem;
  font-weight: var(--font-weight-medium);
}

.plans-perfect-for-you-card.special-offer
  .plans-perfect-for-you-card-contract
  a {
  background-color: var(--faynet-white); /* Cor de fundo */
  color: var(--faynet-purple-dark);
}

.plans-perfect-for-you-card-contract a::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 2px solid var(--faynet-purple-dark);
  border-radius: 2.5rem;
  z-index: -1;
}

.plans-perfect-for-you-card.special-offer
  .plans-perfect-for-you-card-contract
  a::before {
  border: 2px solid var(--faynet-white);
}
