@media (min-width: 0px) and (max-width: 767px) {
  .plans-perfect-for-you-cards {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  .plans-perfect-for-you-card {
    flex: 0 0 100%;
    scroll-snap-align: start;
    margin: 0 5px;
  }

  .call-to-action a {
    width: 100%;
  }
  /* Responsivo header */
  .banner-hero {
    min-height: auto;
  }

  .header-top {
    flex-wrap: wrap;
    margin-bottom: 3rem;
    justify-content: center;
    gap: 2rem;
  }

  .header-top-opening-hours {
    flex-wrap: wrap;
    justify-content: center;
  }

  .header-top-opening-hours p {
    font-size: 1.4rem;
  }

  .header-top-sociais a img {
    width: 2rem;
  }

  .header-menu-logo img {
    width: 16rem;
  }

  .header-menu-links ul {
    display: none;
  }

  .header-menu-mobile {
    cursor: pointer;
  }

  .header-menu-mobile div {
    width: 4rem;
    height: 0.2rem;
    background-color: var(--faynet-white);
    margin-bottom: 1rem;
  }

  .header-menu-subcriber-center {
    display: none;
  }

  .banner-hero-text {
    margin-top: 3rem;
  }

  .banner-hero-text h1 {
    font-size: 2rem;
    line-height: 2.6rem;
  }

  .banner-hero-text span {
    letter-spacing: initial;
  }

  .banner-hero-text p {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .banner-hero-header {
    flex-direction: column;
    justify-content: inherit;
  }

  .banner-hero-text {
    max-width: 100%;
  }

  .banner-hero-text a {
    max-width: 100%;
  }

  .banner-hero-promotion {
    min-height: auto;
  }
  .banner-hero-promotion-title {
    gap: 2rem;
    flex-direction: column;
  }

  .banner-hero-promotion-description ul li {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .banner-hero-promotion-description .banner-hero-promotion-price p {
    font-size: 2rem;
  }

  .banner-hero-promotion-button a {
    max-width: 100%;
  }

  .banner-hero-promotion-title p {
    padding: 0.4rem 1rem;
    line-height: 1.6rem;
  }

  .banner-hero-promotion-title h3 {
    font-size: 2.4rem;
    line-height: 3rem;
  }

  /* Responsivo plans */

  .plan-perfect-for-you h2 {
    font-size: 2.4rem;
    line-height: 3rem;
  }

  .plans-perfect-for-you-cards {
    justify-content: inherit;
    white-space: nowrap;
    margin-bottom: 4rem;
  }

  .plans-perfect-for-you-card {
    flex: 0 0 auto;
  }

  .plans-perfect-for-you-card.special-offer {
    padding: 2rem 0;
    z-index: 0;
  }

  .plans-perfect-for-you-card-best-offer {
    top: 20px;
    left: -19px;
    transform: rotate(-30deg);
    padding: 0.8rem 1rem;
    font-size: 1.2rem;
  }

  .plans-perfect-for-you-card-plan {
    z-index: -1;
  }

  /* responsivo your family */
  .internet-your-family-content {
    flex-direction: column;
  }
  .internet-your-family-text {
    max-width: 100%;
  }
  .internet-your-family-text h2 {
    font-size: 2.6rem;
    line-height: 3rem;
    margin-bottom: 2rem;
  }
  .internet-your-family-text p {
    margin-bottom: 2rem;
  }

  /* responsivo beneficios */
  .benefits-your-family-img {
    display: none;
  }

  .benefits-your-family-item {
    padding: 6rem 2rem;
  }

  .benefits-your-family-item-title h2 {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .benefits-your-family-itens {
    gap: 2rem;
  }

  .benefits-your-family-itens-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .benefits-your-family-itens img {
    max-width: 4rem;
  }

  .benefits-your-family-itens-content-text {
    max-width: 100%;
  }

  .benefits-your-family-itens-content-text h4 {
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
  }

  .benefits-your-family-itens-content-text p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
  }

  /* repsonsivo faq */

  .the-best-service-for-you-content {
    flex-direction: column;
  }

  .the-best-service-for-you-text h2 {
    font-size: 2.6rem;
    line-height: 3rem;
  }
  .the-best-service-for-you-image {
    display: none;
  }
  .the-best-service-for-you-accordion-button {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }

  .the-best-service-for-you-accordion-content p {
    font-size: 1.2rem;
  }

  .the-best-service-for-you-text,
  .the-best-service-for-you-accordion {
    max-width: 100%;
  }
  .the-best-service-for-you-button a {
    margin-top: 2rem;
  }

  .the-best-service-for-you-text .call-to-action a {
    padding: 1.4rem;
    width: 100%;
  }

  .testimonials h2 {
    font-size: 2rem;
    line-height: 3rem;
  }

  .footer-container {
    flex-direction: column;
    gap: 2rem;
  }
  .copyright {
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .header-menu {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  .header-menu-subcriber-center {
    padding: 1rem;
  }

  .banner-hero-text h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
  .banner-hero-text p {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .benefits-your-family-item {
    padding: 6rem 2rem 2rem 2rem;
  }

  .benefits-your-family-item::after,
  .benefits-your-family-item::before {
    position: inherit;
  }

  .benefits-your-family-item-title h2 {
    font-size: 2.2rem;
    line-height: 2.6rem;
  }

  .benefits-your-family-itens-content {
    width: 40%;
  }

  .benefits-your-family-itens-content-text {
    width: 100%;
    max-width: 40rem;
  }

  .benefits-your-family-itens-content-text h4 {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 0.6rem;
  }
  .benefits-your-family-itens-content-text p {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  .benefits-your-family-itens img {
    max-width: 4rem;
  }

  .the-best-service-for-you-text {
    max-width: 100%;
  }
  .the-best-service-for-you-accordion {
    max-width: 100%;
  }

  .the-best-service-for-you-image {
    display: none;
  }
  .the-best-service-for-you-content {
    justify-content: center;
  }
}
