:root {
  --faynet-white: #ffffff;
  --faynet-purple-light: #e1b8e7;
  --faynet-purple-light-opacity-20: rgb(224, 183, 230, 0.2);
  --faynet-purple-medium: #893ea0;
  --faynet-purple-dark: #380d5f;
  --faynet-yellow: #f9c200;
  --faynet-yellow-dark: rgb(231, 182, 4);
  --faynet-green-status-icon: #2aee32;
  --faynet-green-status-text: #88ff8d;
  --faynet-red-status-icon: #ff0000;
  --faynet-red-status-text: #ff0000;
  --faynet-black: #212121;
  --font-family-montserrat: "Montserrat", sans-serif;
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  font-family: var(--font-family-montserrat);
  font-weight: var(--font-weight-regular);
}

.container {
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.call-to-action a {
  background-color: var(--faynet-yellow);
  color: var(--faynet-purple-dark);
  width: 20rem;
  padding: 1rem;
  margin-top: 2rem;
  text-align: center;
  border-radius: 1rem;
  font-size: 1.6rem;
  font-weight: var(--font-weight-medium);
  transition: 0.5s;
}

.call-to-action a:hover {
  background-color: var(--faynet-purple-dark);
  color: var(--faynet-white);
}

.no-scroll {
  overflow: hidden;
}

.image-whats {
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 1;
  animation: moveUpDown 2s linear infinite;
}

.image-whats svg {
  width: 6rem;
  height: auto;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@media (max-width: 500px) {
  .image-whats {
    bottom: 20px;
    right: 20px;
  }

  .image-whats svg {
    width: 4rem;
  }

  .image-whats p {
    width: 100px;
    padding: 4px 8px;
    top: -40px;
    left: -100px;
    font-size: 1.4rem;
  }

  .image-whats p::before {
    bottom: -6px;
    left: 96%;
    rotate: 140deg;
  }
}
