.testimonials h2 {
  font-size: 3.2rem;
  line-height: 3.6rem;
  color: var(--faynet-purple-dark);
  font-weight: var(--font-weight-regular);
  position: relative;
}

.testimonials h2::before {
  content: "";
  width: 7.5rem;
  height: 0.6rem;
  border-radius: 2rem;
  background-color: var(--faynet-purple-dark);
  position: absolute;
  top: -20px;
  left: 0;
}

.testimonials p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--faynet-purple-dark);
  margin-top: 1rem;
}

.mySwiper .swiper-slide {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  height: auto;
}

.mySwiper .swiper-slide img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  margin-bottom: 2rem;
}

.mySwiper .swiper-slide .testimonials-title {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: var(--font-weight-bold);
  margin-bottom: 1rem;
}

.mySwiper .swiper-slide .testimonials-description {
  font-size: 1.4rem;
  line-height: 1.8rem;
  max-width: 60rem;
  text-align: center;
}
