.internet-your-family-content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.internet-your-family-text {
  width: 100%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.internet-your-family-text h2 {
  font-size: 3.2rem;
  line-height: 3.6rem;
  color: var(--faynet-purple-dark);
  font-weight: var(--font-weight-regular);
  position: relative;
}

.internet-your-family-text h2::before {
  content: "";
  width: 7.5rem;
  height: 0.6rem;
  border-radius: 2rem;
  background-color: var(--faynet-purple-dark);
  position: absolute;
  top: -20px;
  left: 0;
}

.internet-your-family-text p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--faynet-purple-dark);
}

.internet-your-family-text a {
  padding: 1.4rem 3.2rem;
}

.internet-your-family-img img {
  width: 100%;
}
