:root {
  --faynet-white: #ffffff;
  --faynet-purple-light: #e1b8e7;
  --faynet-purple-light-opacity-20: rgb(224, 183, 230, 0.2);
  --faynet-purple-medium: #893ea0;
  --faynet-purple-dark: #380d5f;
  --faynet-yellow: #f9c200;
  --faynet-yellow-dark: rgb(231, 182, 4);
  --font-family-montserrat: "Montserrat", sans-serif;
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  font-family: var(--font-family-montserrat);
  font-weight: var(--font-weight-regular);
}

.container {
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.banner-hero {
  background-image: url("./images/banner_hero/banner_hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.header-top-opening-hours {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #ffffff;
}

.header-top-opening-hours p {
  font-size: 2rem;
}

.header-top-sociais {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-top-sociais a {
  padding: 1rem;
  border-radius: 0.4rem;
}

.header-top-sociais a img {
  width: 2rem;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu-logo img {
  width: 30rem;
}

.header-menu-links ul {
  display: flex;
  align-items: center;
  gap: 3rem;

  font-weight: var(--font-weight-bold);
}

.header-menu-subcriber-center {
  cursor: pointer;
  color: var(--faynet-white);
  font-weight: var(--font-weight-bold);
  background-color: var(--faynet-yellow);
  padding: 2rem 1.6rem;
  border-radius: 0.8rem;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 20px 11px -9px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 0px 20px 11px -9px rgba(0, 0, 0, 0.71);
  box-shadow: 0px 20px 11px -9px rgba(0, 0, 0, 0.71);
}

.header-menu-subcriber-center:hover {
  background-color: var(--faynet-yellow-dark);
}

/* .header-menu-subcriber-center::after {
  content: "";
  position: absolute;
  border-radius: 0.6rem;
  bottom: -0.8rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--faynet-yellow-dark);
  width: 90%;
  height: 2rem;
  z-index: -1;
} */
